/* WARNING: This file will be overwritten by the plugin.
 Do* not edit this file directly! First copy this file and rename it if you want to edit things. */

:root {
    --726c-a3c0-color: #0089BA;
    --726c-a3c0-weight: initial;
    --726c-a3c0-before: '🌟 ';
    --726c-a3c0-after: '';
    --726c-a3c0-background-color: #ffffff;
    --726c-a3c0-decoration: initial;
    --3dce-12ae-color: #2FAB63;
    --3dce-12ae-weight: initial;
    --3dce-12ae-before: '🙆🏽 ';
    --3dce-12ae-after: '';
    --3dce-12ae-background-color: #ffffff;
    --3dce-12ae-decoration: initial;
    --ec14-c821-color: #6967A9;
    --ec14-c821-weight: initial;
    --ec14-c821-before: '🔧 ';
    --ec14-c821-after: '';
    --ec14-c821-background-color: #ffffff;
    --ec14-c821-decoration: initial;
    --2326-1408-color: #007160;
    --2326-1408-weight: initial;
    --2326-1408-before: '🎨';
    --2326-1408-after: '';
    --2326-1408-background-color: #ffffff;
    --2326-1408-decoration: initial;
}

div[data-id="726c-a3c0"] div.setting-item-description,
[data-link-path*="DRP" i] {
    color: var(--726c-a3c0-color) !important;
    font-weight: var(--726c-a3c0-weight);
}

.c-726c-a3c0-use-background div[data-id="726c-a3c0"] div.setting-item-description,
.c-726c-a3c0-use-background .data-link-text[data-link-path*="DRP" i] {
    background-color: var(--726c-a3c0-background-color) !important;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: var(--726c-a3c0-decoration) !important;
}

div[data-id="726c-a3c0"] div.setting-item-description::before,
.data-link-icon[data-link-path*="DRP" i]::before {
    content: var(--726c-a3c0-before);
}

div[data-id="726c-a3c0"] div.setting-item-description::after,
.data-link-icon-after[data-link-path*="DRP" i]::after {
    content: var(--726c-a3c0-after);
}

div[data-id="3dce-12ae"] div.setting-item-description,
[data-link-path*="RF" i] {
    color: var(--3dce-12ae-color) !important;
    font-weight: var(--3dce-12ae-weight);
}

.c-3dce-12ae-use-background div[data-id="3dce-12ae"] div.setting-item-description,
.c-3dce-12ae-use-background .data-link-text[data-link-path*="RF" i] {
    background-color: var(--3dce-12ae-background-color) !important;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: var(--3dce-12ae-decoration) !important;
}

div[data-id="3dce-12ae"] div.setting-item-description::before,
.data-link-icon[data-link-path*="RF" i]::before {
    content: var(--3dce-12ae-before);
}

div[data-id="3dce-12ae"] div.setting-item-description::after,
.data-link-icon-after[data-link-path*="RF" i]::after {
    content: var(--3dce-12ae-after);
}

div[data-id="ec14-c821"] div.setting-item-description,
[data-link-path*="RNF" i] {
    color: var(--ec14-c821-color) !important;
    font-weight: var(--ec14-c821-weight);
}

.c-ec14-c821-use-background div[data-id="ec14-c821"] div.setting-item-description,
.c-ec14-c821-use-background .data-link-text[data-link-path*="RNF" i] {
    background-color: var(--ec14-c821-background-color) !important;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: var(--ec14-c821-decoration) !important;
}

div[data-id="ec14-c821"] div.setting-item-description::before,
.data-link-icon[data-link-path*="RNF" i]::before {
    content: var(--ec14-c821-before);
}

div[data-id="ec14-c821"] div.setting-item-description::after,
.data-link-icon-after[data-link-path*="RNF" i]::after {
    content: var(--ec14-c821-after);
}

div[data-id="2326-1408"] div.setting-item-description,
[data-link-tags*="excalidraw" i] {
    color: var(--2326-1408-color) !important;
    font-weight: var(--2326-1408-weight);
}

.c-2326-1408-use-background div[data-id="2326-1408"] div.setting-item-description,
.c-2326-1408-use-background .data-link-text[data-link-tags*="excalidraw" i] {
    background-color: var(--2326-1408-background-color) !important;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: var(--2326-1408-decoration) !important;
}

div[data-id="2326-1408"] div.setting-item-description::before,
.data-link-icon[data-link-tags*="excalidraw" i]::before {
    content: var(--2326-1408-before);
}

div[data-id="2326-1408"] div.setting-item-description::after,
.data-link-icon-after[data-link-tags*="excalidraw" i]::after {
    content: var(--2326-1408-after);
}
/* @settings
 n a*me: Supercharged Links
 id: supercharged-links
 settings:
 -
 id: 726c-a3c0
 title: path is DRP
 description: Example note
 type: heading
 collapsed: true
 level: 3
 -
 id: 726c-a3c0-color
 title: Link color
 type: variable-color
 format: hex
     default: '#0089BA'
         -
         id: 726c-a3c0-weight
         title: Font weight
         type: variable-select
     default: initial
         options:
         - initial
         - lighter
         - normal
         - bold
         - bolder
         -
         id: 726c-a3c0-decoration
         title: Font decoration
         type: variable-select
     default: initial
         options:
         - initial
         - underline
         - overline
         - line-through
         -
         id: 726c-a3c0-before
         title: Prepend text
         description: Add some text, such as an emoji, before the links.
         type: variable-text
     default: ''
         quotes: true
         -
         id: 726c-a3c0-after
         title: Append text
         description: Add some text, such as an emoji, after the links.
         type: variable-text
     default: ''
         quotes: true
         -
         id: c-726c-a3c0-use-background
         title: Use background color
         description: Adds a background color to the link. This can look buggy in live preview.
         type: class-toggle
         -
         id: 726c-a3c0-background-color
         title: Background color
         type: variable-color
         format: hex
     default: '#ffffff'
         -
         id: 3dce-12ae
         title: path is RF
         description: Example note
         type: heading
         collapsed: true
         level: 3
         -
         id: 3dce-12ae-color
         title: Link color
         type: variable-color
         format: hex
     default: '#2FAB63'
         -
         id: 3dce-12ae-weight
         title: Font weight
         type: variable-select
     default: initial
         options:
         - initial
         - lighter
         - normal
         - bold
         - bolder
         -
         id: 3dce-12ae-decoration
         title: Font decoration
         type: variable-select
     default: initial
         options:
         - initial
         - underline
         - overline
         - line-through
         -
         id: 3dce-12ae-before
         title: Prepend text
         description: Add some text, such as an emoji, before the links.
         type: variable-text
     default: ''
         quotes: true
         -
         id: 3dce-12ae-after
         title: Append text
         description: Add some text, such as an emoji, after the links.
         type: variable-text
     default: ''
         quotes: true
         -
         id: c-3dce-12ae-use-background
         title: Use background color
         description: Adds a background color to the link. This can look buggy in live preview.
         type: class-toggle
         -
         id: 3dce-12ae-background-color
         title: Background color
         type: variable-color
         format: hex
     default: '#ffffff'
         -
         id: ec14-c821
         title: path is RNF
         description: Example note
         type: heading
         collapsed: true
         level: 3
         -
         id: ec14-c821-color
         title: Link color
         type: variable-color
         format: hex
     default: '#6967A9'
         -
         id: ec14-c821-weight
         title: Font weight
         type: variable-select
     default: initial
         options:
         - initial
         - lighter
         - normal
         - bold
         - bolder
         -
         id: ec14-c821-decoration
         title: Font decoration
         type: variable-select
     default: initial
         options:
         - initial
         - underline
         - overline
         - line-through
         -
         id: ec14-c821-before
         title: Prepend text
         description: Add some text, such as an emoji, before the links.
         type: variable-text
     default: ''
         quotes: true
         -
         id: ec14-c821-after
         title: Append text
         description: Add some text, such as an emoji, after the links.
         type: variable-text
     default: ''
         quotes: true
         -
         id: c-ec14-c821-use-background
         title: Use background color
         description: Adds a background color to the link. This can look buggy in live preview.
         type: class-toggle
         -
         id: ec14-c821-background-color
         title: Background color
         type: variable-color
         format: hex
     default: '#ffffff'
         -
         id: 2326-1408
         title: tag is excalidraw
         description: Example note
         type: heading
         collapsed: true
         level: 3
         -
         id: 2326-1408-color
         title: Link color
         type: variable-color
         format: hex
     default: '#007160'
         -
         id: 2326-1408-weight
         title: Font weight
         type: variable-select
     default: initial
         options:
         - initial
         - lighter
         - normal
         - bold
         - bolder
         -
         id: 2326-1408-decoration
         title: Font decoration
         type: variable-select
     default: initial
         options:
         - initial
         - underline
         - overline
         - line-through
         -
         id: 2326-1408-before
         title: Prepend text
         description: Add some text, such as an emoji, before the links.
         type: variable-text
     default: ''
         quotes: true
         -
         id: 2326-1408-after
         title: Append text
         description: Add some text, such as an emoji, after the links.
         type: variable-text
     default: ''
         quotes: true
         -
         id: c-2326-1408-use-background
         title: Use background color
         description: Adds a background color to the link. This can look buggy in live preview.
         type: class-toggle
         -
         id: 2326-1408-background-color
         title: Background color
         type: variable-color
         format: hex
     default: '#ffffff'
         */
